fastapi==0.110.0
uvicorn==0.29.0
python-dotenv==1.0.1
google-generativeai==0.8.5
langgraph==0.0.26
pandas==2.2.0
numpy==1.26.4
yfinance==1.1.0
pytrends==4.9.2
matplotlib==3.8.3
fpdf==1.7.2
python-pptx==0.6.23
requests==2.31.0
beautifulsoup4==4.12.3
arabic-reshaper==3.0.0
python-bidi==0.6.7
regex==2024.4.28
typing-extensions==4.12.2
pydantic==2.11.7
tavily-python==0.3.1
